# Probably want to make these paths more portable somehow
source `expand_path ../koxtoolchain/refs/x-compile.sh` kindlehf env

export GOOS=linux
export GOARCH=arm
export GOARM=7
export CGO_ENABLED=1

export CC=`expand_path ~/x-tools/arm-kindlehf-linux-gnueabihf/bin/arm-kindlehf-linux-gnueabihf-gcc`
export CGO_CFLAGS="-g -Wall -I. -I`expand_path ../kindle-bt-api/src/include/` -I`expand_path ../kindle-bt-api/subprojects/ace_bt_headers/acs_rtos_reference_ffs/ace/sdk/include/`"
export CGO_LDFLAGS="-L`expand_path ../kindle-bt-api/.build_scribe1/` -lkindlebt"
